<div class="card" style="width: 30rem;">
  <ul class="list-group list-group-flush" id="all-posts"> 
      <li class="list-group-item">
        <h5><strong><%= @post.title.capitalize %></strong> by <%= @user.name %></h5>
        <div class="d-flex flex-row" id="statistics">            
          <p>Comments: <%= @post.comments.count %></p>
          <p>Likes: <%= @post.likes_counter %></p>
        </div>
      </li>
      <li class="list-group-item"><%= @post.text %></li>
      <li>
        <p><strong>Comments:</strong></p>
        <% @post.comments.each do |c| %>
          <div class="d-flex flex-row p-2" id="comments">
            <p><strong><%= c.user.name %></strong>: <%= c.text %></p>
            <% if can? :destroy, c %>
              <%= button_to 'Delete', post_comment_path(@post.author_id, c), method: :delete, class: 'btn btn-danger btn-sm'%>
            <% end %>
          </div>
        <% end %>
      </li>
  </ul>
  <div class="card-body d-flex flex-column" id="navigate">
    <%= render partial: "likes/create_like" %>
    <%= render partial: 'comments/create_comment' %>
  </div>
  
  <div class="card-body d-flex flex-row" id="navigate">
    <%= link_to 'Back', user_posts_path(@user), class: 'btn btn-lg btn-danger' %>
  </div>
</div>